name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    # steps:
    #   - run: echo "this is pen"
    #   - uses: actions/checkout@v2
    #   - run: |
    #       ls -al
    #       cd .github/workflows/
    #       ls -al
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Install dependencies
        run: |
          npm install
          npm i yo generator-code
          npm i vsce
          npm list
      - name: Build Package
        run: npx vsce package
      - name: view directory
        run: ls
